# Visual Studio 임시 파일
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 빌드 결과물
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 프로파일링 결과
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet 패키지
*.nupkg
# NuGet Symbol 패키지
*.snupkg
# 패키지 폴더 (패키지 복원을 사용하려면 이 줄을 주석 처리하세요)
**/[Pp]ackages/*
# NuGet v3의 project.json 파일 기반 프로젝트에서 생성된 파일을 무시하되,
# project.json을 버전 제어에 포함하려면 이 줄을 주석 처리하세요.
*.nuget.props
*.nuget.targets

# Visual Studio 캐시 파일
# 임시 파일이 프로젝트 외부에 있을 수 있기 때문에 이 줄을 함께 유지하세요
*.[Cc]ache
!*.[Cc]ache/

# Windows 임시 파일
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# 폴더 구성 파일
[Dd]esktop.ini

# Windows 휴지통 임시 파일
$RECYCLE.BIN/

# macOS 파일
.DS_Store

# Visual Studio 코드
.vscode/

# 프로젝트 특정 설정
# 프로젝트 특성에 따라 추가적인 항목을 여기에 포함시킬 수 있습니다.